.App {
  text-align: center;
  /* height: 100%; */
  height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #10161A;
  height: 10vh;
  font-size: calc(30px + 2vmin);
  color: white;
  line-height: 10vh;
}

.App-logo {
  text-align: left;
  height: 100%;
} 
.App-logo img {
  max-height: 100%;
}
.App-title {
  /* margin: 0%; */
  position: absolute;
  top: -6vh;
  left: 40vw;
  text-align:center;
}

.App-wrapper {
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
}

.map-panel {
  width: 75vw;
}

.info-panel {
  display: flex;
  flex-direction: column;
  width: 25vw;
  background-color: #8A9BA8;
  align-items: center;
}

.flight-dropdown {
  width: 20vw;
  background-color: red;
}

.general-info {
  height:100px;
  background-color: teal;
}

.point-info {
  background-color: turquoise;
}

.App-footer {
  flex-shrink: 0;
  background-color: #394b59;
  color: white;
  height:5vh;
  line-height: 5vh;
}
.App-footer a {
  color:white;
}

body {
  height: 100vh;
}